.title {
	width: 33vw;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 25vh;
}
body {
	padding: 0;
	margin: 0%;
	display: flex;
	flex-grow: 0;
	font-family: 'Sora';
	background-color: cadetblue;
}
button {
	border: solid 2px black;
	width: 15vw;
	height: 3rem;
	border-radius: 7px;
	margin-top: 16px;
}
button:hover {
	background-color: brown;
}
.content {
	width: 67vw;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form {
	height: 35vh;
	margin: 0 -16px;
}
fieldset {
	display: flex;
    
	justify-content: space-around;
}
p{
    
}